//- Use the presentation layout so we can keep this clean
extends layouts/presentation

//- Customize the title, meta description, and author using this block.
block title
  title Recommending the Recommendation


//- Add your slides here. See templates/includes/_mixins.jade for information 
//- on how `+slide` works.
block slides
  +slide
    h1 Recommending the Recommendation
    p
      small Artyom Desyatnikov
    aside.notes
      | title. going to explore the book... 
      
  +slide
    h2 the best software writing i
    h5
      i by Joel Spolsky
    aside.notes
      | recommendation of best writing
      | on software development. i'll be forwarding this recommendation
      | to you.
      | questions - feel free to interrupt me. even do feel obliged.
      | i'll need assistance
      
  +slide
    h2 Points
    ul
      li.fragment #[b Introduction] #[i by Joel Spolsky]
      li.fragment #[b Style is Substance] #[i by Ken Arnold]
      li.fragment #[b Award for The Silliest User Interface: Windows Search] #[i by Leon Bambrick]
      li.fragment #[b The Pitfalls of Outsourcing Programmers] #[i by Michael Bean]
    aside.notes
      | covering these topics
      | let's begin with an Introduction
  
  +slide
    h2 Introduction
    ul
      li Value of stories
      li Especially in IT books
    aside.notes
      | tells a story himself. refused to recommend.
      | idea of creating a collection of posts to serve as
      | an example of how the books should be written
      | the book is full of amusing masterpieces pinpointing
      | problems in IT in a truly hilarious way

  +slide
    h2 Style is Substance
    h5 by Ken Arnold
    ul
      li Python indentation as an example
      li Not style but the unity of it
      li Enforcing in grammar
    aside.notes
      | The Java Programming Language co-author.
      | programming equivalent of TV-wrestling coding style wars.
      | whitespaces that mattered in fortran. then everyone remembered
      | they should not. and that's not true. suggesting enforcing.
      | too tolerant
      
  +slide
    h2 It's Bob's Time
    h5 by Leon Bambrick
    img.fragment(src="img/ms-bob.jpg", style="display:inline-block;vertical-align:middle")
    img.fragment(src="img/ms-bob-google.png", style="display:inline-block;vertical-align:middle;margin-left:20px")
    aside.notes
      | author programming theorist and pugilist. oracle.
      | very short of an article. featuring some good parody on some bad ms
      | ui design
    
  +slide
    h2 THE PITFALLS OF OUTSOURCING PROGRAMMERS
    h5 by Michael Bean
    ul
      li Shoe factory inspiration
      li Ability to innovate
      li Confuse chocolates with boxes
    aside.notes
      | author dev and enterpreneur. very rare combination. worked at MIT.
      | president of some IT company. essentially good idea comes to wrong heads
      | at wrong times. core software production.
      | not being able to innovate.
      | following the advice of Joel, story. Jean-Marc, chocolates.
  
  +slide
    h2 Points Once Again
    ul
      li.fragment #[b Introduction] #[i by Joel Spolsky]
      li.fragment #[b Style is Substance] #[i by Ken Arnold]
      li.fragment #[b Award for The Silliest User Interface: Windows Search] #[i by Leon Bambrick]
      li.fragment #[b The Pitfalls of Outsourcing Programmers] #[i by Michael Bean]
    aside.notes
      | book permeated with joel's famous playfulness and irony and scepticism.
      | touching vital IT problems you've rarely thought of as problems
      
  +slide
    h2 the best software writing i
    h5
      i by Joel Spolsky
    aside.notes
      | only part of book. continuing my journey through it.
      | and so i recommend to you as well.
      
  +slide
    h1 THE END
